@charset "UTF-8";
html {
  font-size: 18px;
  box-sizing: border-box;
}

* {
  box-sizing: inherit;
}

p {
  margin: 0;
}

table {
  width: 100%;
  padding: 10px;
  color: white;
  border-spacing: 10px;
}

th {
  border: 2px solid white;
  border-left: 20px solid white;
  width: 30%;
  height: 30px;
}

td {
  border: 2px solid white;
  border-right: 20px solid white;
  width: 30%;
  height: 30px;
  text-align: center;
}

i {
  color: white;
  font-size: 100px;
}

.header {
  font-family: "Work Sans", sans-serif;
  font-size: 30px;
  font-weight: 800;
  background: linear-gradient(to top, black, rgba(0, 0, 0, 0.5)), url("image/bg.png") 50% 50% no-repeat;
}

/*навигация*/
.header__nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 200px;
  position: relative;
  top: 0;
  left: 0;
}

.header__nav__item {
  text-decoration: none;
  color: white;
}

.header__nav__item:hover {
  color: #00d2c5;
  transition: 0.3s ease-out 0.3s;
}

/*круговой элемент*/
.header__info {
  height: 600px;
  display: flex;
  justify-content: center;
}

.header__info__placeholder {
  background: linear-gradient(to left, #00433e, #00948d);
  height: 300px;
  width: 300px;
  display: inline-block;
  border-radius: 1000px;
  align-self: center;
}

.placeholder {
  color: white;
  text-align: center;
}

h1.placeholder {
  font-size: 40px;
  margin-top: 50px;
  font-weight: 800;
}

.placeholder__divider {
  display: block;
  padding: 0;
  height: 2px;
  width: 50%;
  background-color: white;
  margin: 0 auto;
}

p.placeholder {
  font-size: 20px;
  font-weight: 600;
  margin-top: 30px;
}

/*блок стрелки для перемещения*/
.header__bottom {
  height: 116px;
  display: flex;
  justify-content: center;
}

.arrow__container {
  display: flex;
  justify-content: center;
  width: 100%;
  color: white;
  text-decoration: none;
  font-size: 35px;
}

.arrow__container:hover {
  color: #00d2c5;
  transition: 0.3s ease-out 0.3s;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
}

.wrapper {
  background-color: black;
  font-family: "Work Sans", sans-serif;
}

/*главная информация*/
#wrapper__info {
  display: inline-block;
  width: 100%;
  margin-bottom: 40px;
}

.wrapper__info__about {
  margin-top: 40px;
}

.about {
  font-family: "Shadows Into Light", cursive;
  font-size: 50px;
  font-weight: 300;
  color: white;
  text-align: center;
  vertical-align: middle;
}

.wrapper__info__general {
  margin-top: 40px;
}

/*хобби и способности*/
#wrapper__skills {
  margin-bottom: 60px;
}

.wrapper__skills__wrap {
  display: flex;
  justify-content: center;
}

.wrapper__skills__info {
  color: white;
  margin-top: 50px;
  display: inline-block;
  text-align: center;
  width: 70%;
  font-family: "Shadows Into Light", cursive;
}

/*контакты соцсетей*/
.wrapper__contacts__sn {
  height: 200px;
  margin-top: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.footer {
  background-color: black;
  height: 40px;
}

.footer__quote {
  border-top: white solid 1px;
  font-family: "Work Sans", sans-serif;
  margin: 0 auto;
  text-align: center;
  vertical-align: middle;
  color: white;
  width: 50%;
  padding: 9px;
}